#Slide Switches
NET "sw<0>" LOC = p22; #LSB

#50 MHz oscillator
NET "CLK50M"       LOC = "p84";

#Push Buttons
NET "load" LOC = P45;
NET "start" LOC = P44;
NET "stop" LOC = P43;
NET "reset" LOC = P41;

NET "buzzer" LOC = P85;

NET "count_reg[0]" LOC = p33; #LSB
NET "count_reg[1]" LOC = p32;
NET "count_reg[2]" LOC = p30;
NET "count_reg[3]" LOC = p29;
NET "count_reg[4]" LOC = p27;
NET "count_reg[5]" LOC = p26;
NET "count_reg[6]" LOC = p24;


#Seven Segment Display sharing I/O with LED
NET "digit[0]" LOC = P127;
NET "digit[1]" LOC = P131;
NET "digit[2]" LOC = P132;
NET "digit[3]" LOC = P133;

NET "seg1[0]" LOC = P134;
NET "seg1[1]" LOC = P137;
NET "seg1[2]" LOC = P138;
NET "seg1[3]" LOC = P139;
NET "seg1[4]" LOC = P140;
NET "seg1[5]" LOC = P141;
NET "seg1[6]" LOC = P142;
NET "seg1[7]" LOC = P143;
